body{
    margin:0px;
    padding:0px;
    background-color: black;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-optical-sizing: auto;
    overflow:hidden;
    color: white
}

.main{
    display: flex;
    height:100vh;
    padding:0.25rem;
}
 
.sidebar{
    width: 350px;
    margin:15px;
    border-radius: 1rem;
}

.main-content{
    background-color: rgb(16, 16, 16);
    flex:1;
    overflow:scroll;
    margin: 12px;
    border-radius:0.5rem;
}

.music-player{
    background-color:rgb(0, 0, 0);
    position: fixed;
    bottom:0px;
    width:100vw;
    height:89px;

}

.nav{
    background-color: rgb(16, 16, 16);
    
    height:70px;
    padding:1rem;
    border-radius: 1rem;
    line-height: 2rem;
}

.navoption{
    
    padding:0.15rem;
    opacity:0.5;
}
.navoption a{
    text-decoration: none; 
    color:white; 
    padding-left: 17px;
}
.navoption:hover{
    color:white;    
    opacity:1;
}

.library{
    background-color: rgb(16, 16, 16);
    height:90px;
    padding:1rem;
    border-radius: 1rem;
    line-height: 2rem;
    margin-top: 0.5rem;
    height: 100%;
    
}

.options{
    display:flex;
    justify-content: space-between;
}

.lib-option img{
    height: 1.25rem;
    width: 1.25rem;
}

.icons{
    font-size: 1.25rem;
    display:flex;
}

.icons i{
        display:flex;
        align-items: center;
        justify-content: center;
        width:2rem;
        height: 1rem;
        opacity: 0.7;
        margin: 0.5rem 0.5rem;
        border-radius: 1rem;
}

.icons i:hover{
    color:white;    
    opacity:1;
    font-size: 1.25rem;
    background-color: #232323;
}

.box{
    background-color: #232323;
    height:7rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding:0.5rem 0.5rem;
}
.box-p1{
    font-size:1rem;
    font-weight: 600;
}
.box-p2{
    font-size: 0.75rem;
    opacity:0.75; 
}

.badge{
    background-color: white;
    font-weight: 600;
    border:none;
    border-radius: 1rem;
    padding: 0.25rem ;
    width:120px; 
    height:2rem;
    cursor: pointer;
}

.badge:hover{
    box-shadow:0 4px 10px black;
}

.badge:active{
    background-color: rgb(181, 184, 185);
}

.sticky-nav{
    position:sticky;
    top:0;
    height:1rem;
    background-color: rgba(16, 16, 16,0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1rem 0 1rem 0;
    z-index: 10;
}

.sticky-nav-opt2 {
    display: flex;
    justify-content: center ;
    align-items: center;
}

.sticky-nav-opt2 button{
    margin-right:0.75rem;    
}

.sticky-nav-opt2 .dark-badge{
    background-color: black;
    color: white;    
}

.sticky-nav-opt2 i{
    transform: scale(1.5);
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}

.below-sticky-nav{
    margin: 0 1rem 0 1rem;
}
h2{
    margin: 0.15rem 0 0.15rem 0;
}
.cards{
    background-color: #242424;
    width:150px;
    border-radius: 0.5rem;
    padding: 0.50rem;
    margin-left: 1.5rem;
    margin-top: 0.55rem;
    margin-bottom: 1rem;
    
}

.cards-container{
    display:flex;
    flex-wrap: wrap;
}

.cards-container img{
    
    width:100%;
    border-radius: 0.5rem;
}

.card.title{
    font-weight: 600;
}

.card-info{
    font-size: 0.75rem;
    opacity:0.5;
}

.footer{
    height: 300px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}

.line{
    width:90%;
    height:50%;
    border-top: 0.5px solid white;
    opacity:0.4;
}

.music-player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.music-player .player-bar{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width:50%;   
    height:100%; 
    cursor: pointer;
}


.music-player .player-bar .first{
    display: flex;
    justify-content: space-between center;
    position:absolute;
    bottom: 10px;
    left:-1rem;
    transform:scale(0.20);
    
}

.music-player .player-bar .first img{
    margin-left:150px;
}
.music-player .player-bar .first img{
    opacity: 0.5;
}

.music-player .player-bar .first img:hover{
    opacity: 1;
}
.music-player .player-bar .first .play_button{
    opacity: 1;
    transform: scale(2);
}

.music-player .player-bar .second{
    display: flex;
    justify-content: center;
    position:relative;
    top: 30px;
    right: 140px;

}

.progress-bar{
    width: 60%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

@media(max-width:1020px){
    .player-bar .second{
        width: 20%;
        left:-1rem;
    }
}

.progress-bar::-webkit-slider-runnable-track{
    background-color: antiquewhite;
    height: 0.25rem;
}

.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: green;
    height: 1rem;
    width: 1rem;
    border-radius: 100%;
    margin-top: -6px;
}
.music-player .album{
    background-color: rgb(0, 0, 0);
    width:35%;
    display:flex;
    height: 89px;
}


.album img{
    transform: scale(0.60);
    border-radius: 1rem;
    margin-right: 0.2px;
    width:70px;

}
.album .song{
    margin-left:1px;
    padding:0px;
    width:155px;
}

.album .song .song-name{
    font-weight: 5%;
    display:flex;
    transform: scale(0.95);
    margin-bottom: 0.25rem; 
    padding:0.25rem;
}
.album .song .song-name i{
    position: relative;
    font-size: 1.25rem;
    top: 35px;
    margin-left:15px;
    opacity: 0.5;
}

.album .song .song-artist{
    display:flex;
    transform: scale(0.65);
    margin-top: 0.5rem; 
    position: relative;
    bottom:20px;
    right:20px;
    opacity:0.75;

}


.music-player .player-controls{
    width:15%;
    height:100%;
}

.music-player .player-controls i{
    position: relative;
    top: 30px;
    font-size: 20px;
    margin-right: 10px;
    opacity: 0.5;

}

.music-player i:hover{
    opacity:1;
}


.album .song .song-name i:hover{
    opacity:1;
}


